## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("weather_database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Puerto Ayora,EC,-0.7393,-90.3518,67.55,97,89,7.83,overcast clouds
1,1,Camopi,GF,3.1655,-52.3158,73.24,100,100,0.96,overcast clouds
2,2,Hermanus,ZA,-34.4187,19.2345,78.91,81,93,10.36,overcast clouds
3,3,Hilo,US,19.7297,-155.0900,70.79,43,90,4.61,light rain
4,4,Khatanga,RU,71.9667,102.5000,-27.62,93,99,11.39,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Camopi,GF,3.1655,-52.3158,73.24,100,100,0.96,overcast clouds
2,2,Hermanus,ZA,-34.4187,19.2345,78.91,81,93,10.36,overcast clouds
3,3,Hilo,US,19.7297,-155.0900,70.79,43,90,4.61,light rain
6,6,Atuona,PF,-9.8000,-139.0333,78.66,78,39,21.74,light rain
9,9,Kapaa,US,22.0752,-159.3190,75.52,73,40,4.00,scattered clouds
11,11,East London,ZA,-33.0153,27.9116,83.34,61,0,11.50,clear sky
12,12,Cayenne,GF,4.9333,-52.3333,77.09,91,75,1.01,light rain
14,14,Cape Town,ZA,-33.9258,18.4232,79.12,60,75,3.00,broken clouds
15,15,Angoche,MZ,-16.2325,39.9086,88.92,57,0,17.96,clear sky
18,18,Lorengau,PG,-2.0226,147.2712,82.69,82,100,11.77,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                260
City                   260
Country                256
Lat                    260
Lng                    260
Max Temp               260
Humidity               260
Cloudiness             260
Wind Speed             260
Current Description    260
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df= preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Camopi,GF,73.24,overcast clouds,3.1655,-52.3158,
2,Hermanus,ZA,78.91,overcast clouds,-34.4187,19.2345,
3,Hilo,US,70.79,light rain,19.7297,-155.0900,
6,Atuona,PF,78.66,light rain,-9.8000,-139.0333,
9,Kapaa,US,75.52,scattered clouds,22.0752,-159.3190,
11,East London,ZA,83.34,clear sky,-33.0153,27.9116,
12,Cayenne,GF,77.09,light rain,4.9333,-52.3333,
14,Cape Town,ZA,79.12,broken clouds,-33.9258,18.4232,
15,Angoche,MZ,88.92,clear sky,-16.2325,39.9086,
18,Lorengau,PG,82.69,overcast clouds,-2.0226,147.2712,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df= hotel_df.dropna()

In [10]:
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Camopi,GF,73.24,overcast clouds,3.1655,-52.3158,La pousada
2,Hermanus,ZA,78.91,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
3,Hilo,US,70.79,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Atuona,PF,78.66,light rain,-9.8000,-139.0333,Villa Enata
9,Kapaa,US,75.52,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,East London,ZA,83.34,clear sky,-33.0153,27.9116,Tu Casa
12,Cayenne,GF,77.09,light rain,4.9333,-52.3333,Hôtel Le Dronmi
14,Cape Town,ZA,79.12,broken clouds,-33.9258,18.4232,Southern Sun Waterfront Cape Town
15,Angoche,MZ,88.92,clear sky,-16.2325,39.9086,Guest House HESADA
18,Lorengau,PG,82.69,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "weather_database/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))